p {
    color: red;
}

#text.desc1 {
    background-color: yellow;
}

.desc {
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}

[href] {
    text-decoration: none;
}

.desc,
.desc1 {
    color: blue;
}